<h2>Welcome to members only</h2>
<<<<<<< HEAD
<p>Cool stuff coming soon, welcome to the posts page</p>
=======
>>>>>>> bacf7f6f1bf7d0a1268f839f9c2fd978f4968251

<% if user_signed_in? %>
  <%= "Below are the great posts you can see as a signed-in user" %>
<% else %>
  <%= "You're limited to what you can see because you're not signed in" %>
<% end %>

<<<<<<< HEAD
<% Post.all.find_each do |post| %>
  <%= post.title %>
  <%= post.body %>
  <%= post.created_at %>
  <%= post.updated_at %>
<% end %>
=======
<%= @posts %>
>>>>>>> bacf7f6f1bf7d0a1268f839f9c2fd978f4968251
