<h2>Welcome to members only</h2>
<p>Cool stuff coming soon, welcome to the posts page</p>

<% if user_signed_in? %>
  <%= "Yep, signed in" %>
<% else %>
  <%= "Nope, not signed in" %>
<% end %>

<% Post.all.find_each do |post| %>
  <%= post.title %>
  <%= post.body %>
  <%= post.created_at %>
  <%= post.updated_at %>
<% end %>