<h2>Welcome to the posts page!</h2>
<br>
<p>Below are what's happening in the neighborhood</p>

<% if user_signed_in? %>
  <%= "Below are the great posts you can see as a signed-in user" %>
<% else %>
  <%= "You're currently limited to what you can see because you're not signed in" %>
<% end %>

<br><br><br>

<table class="table table-stripped table-hover table-sm">
  <tr class="table-light">
    <th scope="col" class="col-1">Post Title</th> 
    <th scope="col" class="col-4">Post Body </th>    
    <th scope="col" class="col-2">Post Creation</th>
    <th scope="col" class="col-2">Post Updated</th>
    <% if current_user %>
      <th scope="col" class="col-1">User</th>
    <% end %>
  </tr>

  <% Post.all.find_each do |post| %>
    <tr>
      <th scope="row" class="col-1"><%= post.title %></th>    
      <td class="col-4"><%= post.body %></td>
      <td class="col-2"><%= post.created_at.to_date.to_fs(:long_ordinal) %></td>  
      <td class="col-2"><%= post.updated_at.to_date.to_fs(:long_ordinal) %></td>   
      <% if current_user %>
        <td class="col-2">
          <% @post_user = User.find(post.user_id) %>
          <%= @post_user.first_name %>
        </td> 
      <% end %>
    </tr>
  <% end %>

 </table>
